<div class="data data-mobile">
  <div class="creator-wrapper">
    <div class="creator-header">
        <div class="red-bg">
            <img src="assets/logo/yt.png" class="yt-logo-creator">
            <h1 class="centre">ROADMAN ROHAN</h1>
        </div>
    </div>

    <!-- <div class="creator-title">
        <div class="intro-line">
            <div class="pre-text"><h2 class="text-weight text-margin ">Some people know me as</h2></div>
            <div class="title-text"><h2 class="RR"><span style="font-weight: bold;">ROADMAN ROHAN</span></h2></div>
        </div>
    </div> -->

    <div class="yt-box">

        <div class="div1">
            <h2 class="video-title">My Youtube Videos</h2>
        </div>

        <div class="div2">
            <div class="videostyle">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/T8ovVZ3xLJ0"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="videostyle">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/BgK8p7hCo60"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="div3">
            <h2 class="name">There are many more!</h2>
            <a class="btn project" href="https://www.youtube.com/channel/UCd2DorrmxXtnqwggVPZRCGw"
                target="_blank">Visit Now</a>
        </div>

    </div>
</div>
</div>
