/* about.page */

.body {
  margin: 0;
  background-color: #178dff;
  display: flex;
}

.nav {
  background-color: #178dff;
  max-width: 250px;
  min-width: 250px;
}

.header-aboutme{
  display: none;
  }

.menu {
  display: flex;
  position: relative;
  top: 4%;
  flex-direction: column;
  align-items: center;
}

.side-bar-label {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-style: italic;
  font-family: sans-serif;
}

.active {
  color: white;
}

.side-bar-label:hover {
  color: white;
}

.pad-decoration {
  font-size: 28px;
  padding-bottom: 18px;
}



/* h1{
  margin-top: 1px;
} */

.avatar {
  border-radius: 50%;
  margin: 22px;
  padding: 7px;
}

.photo {
  border-radius: 50%;
  box-shadow: 5px 5px 8px 2px #000000bf;
  width: 100%;
}

.avatar-border {
  background-color: rgb(245, 251, 255);
  border-radius: 50%;
  /* height: 26%;
  width: 64%; */
  /* margin-left: 34px;
  margin-top: 48px; */
}

.data {
  width: calc(100vw - 250px);
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  overflow: auto;
}

.text {
  position: relative;
  left: 6%;
  font-size: 24px;
}

.iam{
  font-weight: 600;
}

.style-input{
  color:#0070ff;
  font-size: 34px;
  font-weight: bold;
}


/* bitmoji adjustment */

.bitmoji {
  position: absolute;
  bottom: 0px;
  right: 40px;
  width: 90px;
}

/* SIMPLE BOUNCE */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-16px);
  }
}

.bounce {
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.bitmoji-exp {
  position: absolute;
  bottom: 0px;
  right: 5px;
  width: 206px;
}

.bitmoji-edu {
  position: absolute;
  bottom: 0px;
  right: 5px;
  width: 163px;
}

.bitmoji-connect {
  position: absolute;
  bottom: 0px;
  right: 20px;
  width: 260px;
}



/* The side navigation menu */
.sidenav {
  height: 96%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #1c7cda; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 33px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  display: block;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 18px;
  right: 36px;
  font-size: 38px;
  margin-left: 50px;
  color: white;
}


/* Timeline */

/* Set a background color */
body {
  background-color: #718cc7;
  font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #000000d6;
  top: -129px;
  bottom: -129px;
  left: 14%;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #f81e2a;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0px;
  width: 59%;
}

/* Place the container to the right */
.right {
  left: 16%;
  width: 84%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid rgb(94, 211, 90);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgb(184 220 255);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  /* z-index: 1; */
  left: 30px;
  border: medium solid rgb(170, 64, 240);
  border-width: 10px 10px 10px 0;
  border-color: transparent #49abffb8;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -5%;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #49abffb8;
  position: relative;
  border-radius: 6px;
}


/* Connect Me Form */

/* Style input type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 25px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style input type="email", select elements and textareas */

input[type="email"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 25px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: black;
}

input[type="reset"]:hover {
  background-color: black;
}

/* Add a background color and some padding around the form */
.form-container {
  /* border-radius: 20px; */
  /* background-color: #f2f2f2; */
  /* padding: 26px; */
  /* background-color: #89ffaa; */
  margin-left: 12%;
  /* margin-bottom: 12px; */
  width: 50%;
}

.form-field {
  padding: 0px;
}

.button-container {
  text-align: end;
}

.btn {
  color: white;
  padding: 11px 22px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.reset-btn {
  background-color: #9f0000;
}

.submit-btn {
  background-color: rgb(0 62 133);
}

.logos {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 175px;
  margin-bottom: 258px;
}

.git {
  height: 91px;
}

.ig {
  height: 85px;
  margin-top: 18px;
}

.ld {
  margin-bottom: 11px;
  height: 90px;
}

.connect-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.social {
  padding: 40px 116px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo {
  max-width: 100px;
  max-height: 100px;
  padding: 15px;
}

.img-logo {
  max-width: 80px;
}

.certificate-wrapper {
  position: absolute;
  right: 4%;
  top: 5%;
  height: 400px;
  width: 430px;
  background: #ff000085;
  border: 3px solid #ff1212;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
}

.c-main-title {
  text-align: center;
  width: 100%;
}

.c-main-list {
  overflow: auto;
  padding: 12px;
}

.certificate {
  padding-bottom: 12px;
}

.c-title {
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  padding: 5px 0px 5px 12px;
}

.c-sub-title {
  font-size: 12px;
  padding: 0px 12px;
}

.skills-wrapper {
  position: absolute;
  right: 6%;
  top: 5%;
  height: 400px;
  width: 300px;
  background: #d6e8ff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill {
  display: flex;
  flex-direction: row;
}

.skill-img {
  padding: 14px;
  font-size: 72px;
}

/* Creator Page */

.creator-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creator-header {
  width: 100%;
}

.div1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.div2 {
  display: flex;
  justify-content: center;
  height: 62%;
}

.div3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20%;
  width: 100%;
}

.title {
  height: 100%;
  width: 100%;
}

.red-bg {
  background-image: radial-gradient(circle, #ff4141, #ff4a49, #ff5251, #ff5a59, #ff6161);
}

.centre {
  margin-left: 40%;
  margin-top: 2%;
  color: white;
}

.text-weight {
  text-align: center;
  font-weight: lighter;
}

.intro-line{
  display: flex;
    flex-direction: row;
    justify-content: center;
}

.RR{
  padding-left: 6px;
  padding-left: 6px;
  text-decoration: underline;
  color: #0016ff;
  text-decoration-color: black;
}


.yt-box {
  background-image: linear-gradient(
    to top,
    #091115,
    #1f2c32,
    #334952,
    #486874,
    #5e8997,
    #4f94ac,
    #399fc3,
    #00a9dc,
    #009aef,
    #0088ff,
    #0070ff,
    #394dff
  );
  height: 74%;
  width: 90%;
}

.video-title {
  text-align: center;
  color: #fff;
  font-family: sans-serif;
  margin: 12px;
  padding-top: 16px;
}

.parentpage {
  display: flex;
  flex-direction: column;
}
.page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
}

.videostyle {
  padding: 24px 16px;
  width: 100%;
  height: 86%;
}

.name {
  color: white;
  font-family: sans-serif;
}

a.btn {
  text-transform: uppercase;
  padding: 15px 25px;
  border-radius: 30px;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.4;
}

a.btn.project {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

a.btn.project:hover {
  background-color: #fff;
  color: #ff3628;
  font-weight: 600;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid #49abffb8;
    border-width: 10px 10px 10px 0;
    border-color: transparent #49abffb8 transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

@media (max-width: 480px) {
  .body {
    display: flex;
    flex-direction: column;
  }

  .nav {
    min-width: 100%;
    height: 100vh;
  }

  .avatar {
    text-align: center;
  }

  .photo {
    width: 68%;
  }

  .data {
    width: 100%;
  }

  .data-mobile {
    display: flex;
    flex-direction: column;
  }

  .text {
    left: 0;
    height: 92%;
    padding-top: 72px;
    padding-left: 10px;
  }

  .experience2{
    height: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .education2{
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    .style-input {
      font-size: 32px;
    }


  .timeline::after {
    top: 0px;
    bottom: 0px;
    left: 7.5%;
  }

  .timeline-wrapper{
    height: 54%;
  }

  .container {
    width: 75%;
    top: 4px;
  }

  .content {
    padding: 10px 16px;
  }

  .skills-wrapper {
    position: relative;
    right: 0%;
    top: 2%;
    height: 38%;
  }

  .skill-img {
    padding: 8px 27px;
    font-size: 52px;
  }

  .certificate-wrapper {
    position: relative;
    right: 0%;
    top: 24%;
    margin: 8px;
    width: 90%;
    overflow: unset;
  }

  .bitmoji {
    width: 75px;
    top: 100px;
    right: 22px;
  }

  .bitmoji-exp {
    width: 124px;
    top: 3%;
  }

  .bitmoji-edu {
    width: 100px;
    position: relative;
    left: 35%;
    bottom: 48%;
  }

  .bitmoji-connect {
    width: 164px;
    left: 3%;
  }

  .logo {
    padding: 10px;
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0%;
    width: 100%;
  }

  form {
    width: 80%;
  }

 
  .yt-box {
    width: 100%;
    height: 100%;
  }
 
  .centre {
    margin-left: 34%;
  }

  .div1 {
    height: 10%;
}

  .div2 {
    display: flex;
    height: 69%;
    flex-direction: column;
    align-items: center;
}

.div3 {
  height: 16%;
}

.intro-line{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videostyle {
  padding: 28px 6px;
    width: 84%;
    height: 39%;
}

.nav{
  display:none;
}

.icon {
  width: 34px;
  height: 5px;
  background-color: white;
  margin: 5px 0px;
}

.nav-mobile{
  height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu{
  right: 8px;
}

.menu-mobile{
  top: 0px;
  left: 0;
  position: absolute;
  padding: 16px 16px;
}

.data {
  flex-direction: column;
  justify-content: center;
}

.header{
  height: 8%;
  width: 100%;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-aboutme{
  display: block;
  color: white;
  }

.creator-wrapper{
  height: 92%;
}

}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}