/* about.page */

.body {
  margin: 0;
  background-color: #178dff;
  display: flex;
}

.nav {
  background-color: #178dff;
  max-width: 250px;
  min-width: 250px;
}

.header-aboutme {
  display: none;
}

.sidebar {
  display: none;
}

.menu {
  display: flex;
  position: relative;
  top: 4%;
  flex-direction: column;
  align-items: center;
}

.side-bar-label {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-style: italic;
  font-family: sans-serif;
}

.active {
  color: white;
}

.side-bar-label:hover {
  color: white;
}

.pad-decoration {
  font-size: 28px;
  padding-bottom: 18px;
}

.font-white {
  color: white;
}

.avatar {
  border-radius: 50%;
  margin: 22px;
  padding: 7px;
}

.photo {
  border-radius: 50%;
  box-shadow: 5px 5px 8px 2px #000000bf;
  width: 100%;
}

.avatar-border {
  background-color: rgb(245, 251, 255);
  border-radius: 50%;
}

.data {
  width: calc(100vw - 250px);
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  overflow: auto;
}

.text {
  position: relative;
  left: 6%;
  font-size: 24px;
}

.iam {
  font-weight: 600;
}


.paragraph{
  animation: aboutme_anime 1s ease-out forwards;
}

@keyframes aboutme_anime {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.style-input {
  color: #0070ff;
  font-size: 34px;
  font-weight: bold;
}

/* bitmoji adjustment */

.cloud {
  height: 28%;
  position: absolute;
  right: 7%;
  bottom: 40%;
  animation: cloud_anime 1s ease-out forwards;
}


@keyframes cloud_anime {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.clickonme {
  z-index: 1;
  position: absolute;
  right: 9%;
  top: 39%;
  font-size: 18px;
  color: red;
  animation: know_more_anime 1s ease-out forwards;
}

@keyframes know_more_anime {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.for-mobile-click {
  display: none;
}

.bitmoji {
  position: absolute;
  bottom: 0px;
  right: 40px;
  width: 90px;
}

/* SIMPLE BOUNCE */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-16px);
  }
}

.bounce {
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.bitmoji-exp {
  position: absolute;
  bottom: 0px;
  right: 5px;
  width: 206px;
}

.bitmoji-edu {
  position: absolute;
  bottom: 0px;
  right: 5px;
  width: 163px;
}

.bitmoji-connect {
  position: absolute;
  bottom: 0px;
  right: 20px;
  width: 260px;
}

/* The side navigation menu */
.sidenav {
  height: 97%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1c7cda;
  overflow-x: hidden;
  padding-top: 33px;
  transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  display: block;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 18px;
  right: 36px;
  font-size: 38px;
  margin-left: 50px;
  color: white;
}

/* Timeline */

/* Set a background color */
body {
  background-color: #718cc7;
  font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #000000d6;
  top: -15px;
  bottom: -15px;
  left: 14%;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #f81e2a;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0px;
  width: 59%;
}

/* Place the container to the right */
.right {
  left: 16%;
  width: 84%;
  animation: timeline_card_appear 1s ease-out forwards;
  z-index: 1;
}

@keyframes timeline_card_appear {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid rgb(94, 211, 90);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgb(184 220 255);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  /* z-index: 1; */
  left: 30px;
  border: medium solid rgb(170, 64, 240);
  border-width: 10px 10px 10px 0;
  border-color: transparent #00335e;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -5%;
}

/* The actual content */
.content {
  padding: 14px 16px;
  background-color: #054b8f;
  position: relative;
  border-radius: 8px;
}

/* Connect Me Form */

/* Style input type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Style input type="email", select elements and textareas */

input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: black;
}

input[type="reset"]:hover {
  background-color: black;
}

/* Add a background color and some padding around the form */
.form-container {
  margin-left: 12%;
  width: 50%;
}

.form-field {
  padding: 0px;
}

.button-container {
  text-align: end;
}

.btn {
  color: white;
  padding: 14px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.reset-btn {
  background-color: #9f0000;
}

.submit-btn {
  background-color: rgb(0 62 133);
}

.logos {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 175px;
  margin-bottom: 258px;
}

.git {
  height: 91px;
}

.ig {
  height: 85px;
  margin-top: 18px;
}

.ld {
  margin-bottom: 11px;
  height: 90px;
}

.connect-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 68px);
}

.social {
  padding: 40px 116px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  animation: logos_appear 1s ease-out forwards;
}

@keyframes logos_appear {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo {
  max-width: 100px;
  max-height: 100px;
  padding: 15px;
}

.img-logo {
  max-width: 80px;
}

.certificate-wrapper {
  position: absolute;
  right: 4%;
  top: 5%;
  height: 400px;
  width: 440px;
  background: #7bb6ff85;
  border: 3px solid #0076ad;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  animation: certificate_appear 1s ease-out forwards;
}

@keyframes certificate_appear {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.c-main-title {
  text-align: center;
  width: 100%;
}

.c-main-list {
  overflow: auto;
  padding: 12px;
}

.certificate {
  padding-bottom: 12px;
}

.c-title {
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  padding: 5px 0px 5px 12px;
}

.c-sub-title {
  font-size: 12px;
  padding: 0px 12px;
}

.year-mob {
  display: none;
}

.skills-wrapper {
  position: absolute;
  right: 6%;
  top: 5%;
  height: 400px;
  width: 300px;
  background: linear-gradient(1deg, #0985ff, rgb(0 16 30));
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: skill_appear 1s ease-out forwards;
}

@keyframes skill_appear {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.skill {
  display: flex;
  flex-direction: row;
}

.skill-img {
  padding: 14px;
  font-size: 72px;
}

/* Creator Page */

.creator-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #191919;
}

.creator-header {
  width: 100%;
}

.div1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.div2 {
  display: flex;
  justify-content: center;
  height: 62%;
}

.div3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20%;
  width: 100%;
}

.title {
  height: 100%;
  width: 100%;
}

.red-bg {
  background-image: radial-gradient(
    circle,
    #ff4141,
    #ff4a49,
    #ff5251,
    #ff5a59,
    #ff6161
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 6px;
}

.centre {
  margin: 0;
  color: white;
}

.text-weight {
  text-align: center;
  font-weight: lighter;
}

.intro-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  animation: intro_line_anime 1s ease-out forwards;
}

@keyframes intro_line_anime {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.RR {
  padding-left: 6px;
  padding-left: 6px;
  text-decoration: underline;
}

.pre-text {
  color: lightgoldenrodyellow
}

.title-text {
  color: #338dff ;
  text-decoration-color: #338dff ;
}

.yt-box {
  /* background-image: linear-gradient(
    to top,
    #091115,
    #1f2c32,
    #334952,
    #486874,
    #5e8997,
    #4f94ac,
    #399fc3,
    #00a9dc,
    #009aef,
    #0088ff,
    #0070ff,
    #394dff
  ); */
  height: 74%;
  width: 90%;
}



.video-title {
  text-align: center;
  color: #fff;
  font-family: sans-serif;
  margin: 12px;
  padding-top: 16px;
}

.parentpage {
  display: flex;
  flex-direction: column;
}
.page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
}

.videostyle {
  padding: 24px 16px;
  width: 100%;
  height: 86%;
  animation: intro_line_anime 3s ease-out forwards;
}

@keyframes intro_line_anime {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.name {
  color: white;
  font-family: sans-serif;
}

a.btn {
  text-transform: uppercase;
  padding: 15px 25px;
  border-radius: 30px;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.4;
}

a.btn.project {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
}

a.btn.project:hover {
  background-color: #fff;
  color: #ff3628;
  font-weight: 600;
}

/* -------------------------------------------------------------------------------- */
/* Media Query for small Mobile Devices */
@media (max-width: 320px) {
  /* body {
    overflow: hidden;
  } */
  .data {
    overflow: hidden;
    height: unset;

  }
  .text-container {
    height: calc(100vh - 68px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .bitmoji {
    width: 48px !important;
    top: 100px !important;
    right: 40px !important;
  }
  .text {
    margin-top: 88px;
    left: 0;
    padding: 12px;
  }
  .text h1 {
    margin: 8px 0px;
  }
  .paragraph {
    font-size: 18px;
  }
  .for-mobile-click {
    width: 200px;
    text-align: center;
  }
  .sidenav {
    height: unset;
  }

  .sidenav .closebtn {
    top: 8px;
    right: 24px;
    font-size: 38px;
  }

  .experience2 {
    height: calc(100vh - 68px);
    width: 100%;
  }

  .skills-wrapper {
    right: 0%;
    top: 0%;
    height: 45%;
    min-height: 290px;
    max-height: 290px;
    margin-top: 24px;
  }

  .bitmoji-edu{
    left: 0;
    bottom: 0;
    margin-top: 24px;
  }

  .bitmoji-exp {
    width: 124px;
    top: 18%;
    z-index: 1;
    position: unset;
    padding: 24px;
    margin-top: 224px !important;
  }

  .connect-wrapper {
    align-items: center;
    overflow: auto;
  }

  .bitmoji-connect {
    position: relative;
    width: 88px;
    right: 0;
    bottom: 0;
  }

  .social {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 32px;    
  }

}


@media (min-width: 370px) and (max-width: 440px) {
  .img-logo{
    max-width: 56px;
  }
}

/* -------------------------------------------------------------------------------- */
/* Media Query for Mobile Devices */
@media (max-width: 480px) {

  body {
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
  }
  .data {
    overflow: hidden;
    height: unset;
    width: 100%;

  }
  .text-container {
    height: calc(100vh - 68px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
  }
  .bitmoji {
    width: 64px;
    top: 100px !important;
    right: 40px !important;
  }

  .text {
    margin-top: 64px;
    left: 0;
    padding: 12px;
  }
  .text h1 {
    margin: 8px 0px;
  }
  .paragraph {
    font-size: 18px;
  }
  .for-mobile-click {
    width: 200px;
    text-align: center;
  }
  .sidenav {
    height: unset;
  }

  .sidenav .closebtn {
    top: 8px;
    right: 24px;
    font-size: 38px;
  }

  .nav {
    min-width: 100%;
    height: 100vh;
  }

  .avatar {
    margin: 0px;
    text-align: center;
  }

  .photo {
    width: 50%;
  }

  .experience2 {
    height: calc(100vh - 68px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }

  .right {
    left: 9%;
  }

  .education2 {
    height: calc(100vh - 68px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: auto;
  }

  .style-input {
    font-size: 32px;
  }

  .timeline-edu {
    top: 6%;
    right: 0%;
  }

  .timeline::after {
    top: 0px;
    bottom: 0px;
    left: 9%;
  }

  .container {
    width: 75%;
    top: 4px;
  }

  .content {
    padding: 10px 16px;
  }

  .font-white {
    font-size: 14px;
  }

  .skills-wrapper {
    position: relative;
    right: 0%;
    top: 2%;
    height: 278px;
    margin: 48px 0px;
  }

  .skill-img {
    padding: 8px 27px;
    font-size: 52px;
  }

  .certificate-wrapper {
    width: 90%;
    max-width: 455px;
    height: unset;
    overflow: initial;
    margin: 32px 0px;
    position: relative;
    right: 0;
    top: 0;
  }

  .cloud {
    display: none;
  }
  .clickonme {
    display: none;
  }

  .for-mobile-click {
    display: block;
    height: 24px;
    background-color: #ff4141;
    position: relative;
    bottom: 8%;
    padding: 16px 16px;
    color: white;
    border-radius: 32px;
    animation: bg_color_random 10s infinite;
  }

  @keyframes bg_color_random {
    0% {background-color: red;}
    25%{background-color:rgb(170, 0, 212);}
    50%{background-color:rgb(0, 209, 17);}
    75%{background-color:rgb(0, 112, 216);}
    100% {background-color: red;}
  }

  .bitmoji-exp {
    width: 124px;
    top: 18%;
    z-index: 1;
    position: unset;
    padding: 24px;
    margin-top: 134px;
  }

  .bitmoji-edu{
    width: 100px;
    left: 0;
    bottom: 0;
    margin-top: 24px;
    position: relative;
  }


  .connect-wrapper {
    align-items: center;
    overflow: auto;
  }

  .bitmoji-connect {
    position: relative;
    width: 88px;
    right: 0;
    bottom: 0;
  }

  .social {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 32px;    
  }

  .logo {
    padding: 10px;
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0%;
    width: 100%;
    padding-bottom: 48px;
  }

  form {
    width: 80%;
  }

  .yt-box {
    width: 100%;
    height: 100%;
  }

  .text-margin {
    margin: 0;
  }

  .div1 {
    height: 10%;
  }

  .div2 {
    display: flex;
    height: 69%;
    flex-direction: column;
    align-items: center;
  }

  .div3 {
    height: 16%;
  }

  .intro-line {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .videostyle {
    padding: 28px 6px;
    width: 84%;
    height: 39%;
  }

  .nav {
    display: none;
  }

  .icon {
    width: 34px;
    height: 5px;
    background-color: white;
    margin: 5px 0px;
  }

  .nav-mobile {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .menu {
    right: 8px;
  }

  .menu-mobile {
    top: 0px;
    left: 0;
    position: absolute;
    padding: 16px 16px;
  }

  .data {
    flex-direction: column;
    justify-content: center;
  }

  .header {
    height: 68px;
    width: 100%;
    background-color: #1c7cda;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .header-aboutme {
    display: block;
    color: white;
  }

  .creator-wrapper {
    height: calc(100vh - 68px);
    overflow: auto;
    background: #191919;
  }

  .yt-box {
    padding-bottom: 24px;
  }

  .red-bg {
    margin-top: 0;
  }

  .sidenav {
    z-index: 2;
  }

  .year {
    display: none;
  }

  .year-mob {
    display: inline !important;
    margin-left: 8px;
  }
}

/* -------------------------------------------------------------------------------- */
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px)  {

  body {
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
  }
  .data {
    overflow: hidden;
    height: unset;
    width: 100%;

  }
  .text-container {
    height: calc(100vh - 68px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .bitmoji {
    width: 56px !important;
    top: 100px !important;
    right: 40px !important;
  }

  .text {
    margin-top: 88px;
    left: 0;
    padding: 12px;
  }
  .text h1 {
    margin: 8px 0px;
  }
  .paragraph {
    font-size: 18px;
  }
  .for-mobile-click {
    width: 200px;
    text-align: center;
  }
  .sidenav {
    height: unset;
  }

  .sidenav .closebtn {
    top: 8px;
    right: 24px;
    font-size: 38px;
  }

  .nav {
    min-width: 100%;
    height: 100vh;
  }

  .avatar {
    text-align: center;
  }

  .photo {
    width: 32%;
  }

  .experience2 {
    height: calc(100vh - 68px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right {
    left: 10%;
  }

  .education2 {
    height: calc(100vh - 68px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .style-input {
    font-size: 32px;
  }

  .timeline-edu {
    top: 6%;
    right: 0%;
  }

  .timeline::after {
    top: 0px;
    bottom: 0px;
    left: 9%;
  }

  .container {
    width: 75%;
    top: 4px;
  }

  .content {
    padding: 10px 16px;
  }

  .font-white {
    font-size: 14px;
  }

  .skills-wrapper {
    position: relative;
    right: 0%;
    top: 2%;
    height: 38%;
    margin-top: 48px;
  }

  .skill-img {
    padding: 8px 27px;
    font-size: 52px;
  }

  .certificate-wrapper {
    width: 90%;
    max-width: 455px;
    height: unset;
    overflow: initial;
    margin: 32px 0px;
    position: relative;
    right: 0;
    top: 0;
  }

  .cloud {
    display: none;
  }
  .clickonme {
    display: none;
  }

  .for-mobile-click {
    display: block;
    height: 24px;
    background-color: #ff4141;
    position: relative;
    bottom: 8%;
    padding: 16px 16px;
    color: white;
    border-radius: 32px;
    animation: bg_color_random 10s infinite;
  }

  @keyframes bg_color_random {
    0% {background-color: red;}
    25%{background-color:rgb(170, 0, 212);}
    50%{background-color:rgb(0, 209, 17);}
    75%{background-color:rgb(0, 112, 216);}
    100% {background-color: red;}
  }

  .bitmoji-exp {
    width: 124px;
    top: 18%;
    padding: 24px;
  }

  .bitmoji-edu {
    width: 100px;
    position: absolute;
    right: 3%;
    top: 18%;
  }

  .connect-wrapper {
    align-items: center;
    overflow: auto;
  }

  .bitmoji-connect {
    position: relative;
    width: 80px;
    right: 0;
    bottom: 0;
  }

  .logo {
    padding: 10px;
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0%;
    width: 100%;
    padding-bottom: 48px;
  }

  form {
    width: 80%;
  }

  .yt-box {
    width: 100%;
    height: 100%;
  }

  .text-margin {
    margin: 0;
  }

  .div1 {
    height: 10%;
  }

  .div2 {
    display: flex;
    height: 69%;
    flex-direction: column;
    align-items: center;
  }

  .div3 {
    height: 16%;
  }

  .intro-line {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .videostyle {
    padding: 28px 6px;
    width: 84%;
    height: 39%;
  }

  .nav {
    display: none;
  }

  .icon {
    width: 34px;
    height: 5px;
    background-color: white;
    margin: 5px 0px;
  }

  .nav-mobile {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .menu {
    right: 8px;
  }

  .menu-mobile {
    top: 0px;
    left: 0;
    position: absolute;
    padding: 16px 16px;
  }

  .data {
    flex-direction: column;
    justify-content: center;
  }

  .header {
    height: 68px;
    width: 100%;
    background-color: #1c7cda;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .header-aboutme {
    display: block;
    color: white;
  }

  .creator-wrapper {
    height: calc(100vh - 68px);
    overflow: auto;
    background: #191919;
  }

  .red-bg {
    margin-top: 0;
  }

  .yt-box {
    padding-bottom: 24px;
  }

  .sidenav {
    z-index: 2;
  }

  .year {
    display: none;
  }

  .year-mob {
    display: inline !important;
    margin-left: 8px;
  }
}
        
/* -------------------------------------------------------------------------------- */
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px)  {

  body {
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
  }
  .data {
    overflow: hidden;
    height: unset;
    width: 100%;

  }
  .text-container {
    height: calc(100vh - 68px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .bitmoji {
    width: 88px !important;
    top: 100px !important;
    right: 40px !important;
  }

  .text {
    margin-top: 88px;
    left: 0;
    padding: 12px;
  }
  .text h1 {
    margin: 8px 0px;
  }
  .paragraph {
    font-size: 18px;
  }
  .for-mobile-click {
    width: 200px;
    text-align: center;
  }
  .sidenav {
    height: unset;
  }

  .sidenav .closebtn {
    top: 8px;
    right: 24px;
    font-size: 38px;
  }

  .nav {
    min-width: 100%;
    height: 100vh;
  }

  .avatar {
    margin: 0px;
    text-align: center;
  }

  .photo {
    width: 32%;
    max-width: 180px;
  }

  .experience2 {
    height: calc(100vh - 68px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right {
    left: 10%;
  }

  .education2 {
    height: calc(100vh - 68px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .style-input {
    font-size: 32px;
  }

  .timeline-edu {
    top: 6%;
    right: 0%;
  }

  .timeline::after {
    top: 0px;
    bottom: 0px;
    left: 9%;
  }

  .container {
    width: 75%;
    top: 4px;
  }

  .content {
    padding: 10px 16px;
  }

  .font-white {
    font-size: 14px;
  }

  .skills-wrapper {
    position: relative;
    right: 0%;
    top: 2%;
    height: 38%;
    margin-top: 48px;
  }

  .skill-img {
    padding: 8px 27px;
    font-size: 52px;
  }

  .certificate-wrapper {
    width: 90%;
    max-width: 455px;
    height: unset;
    overflow: initial;
    margin: 32px 0px;
    position: relative;
    right: 0;
    top: 0;
  }

  .cloud {
    display: none;
  }
  .clickonme {
    display: none;
  }

  .for-mobile-click {
    display: block;
    height: 24px;
    background-color: #ff4141;
    position: relative;
    bottom: 8%;
    padding: 16px 16px;
    color: white;
    border-radius: 32px;
    animation: bg_color_random 10s infinite;
  }

  @keyframes bg_color_random {
    0% {background-color: red;}
    25%{background-color:rgb(170, 0, 212);}
    50%{background-color:rgb(0, 209, 17);}
    75%{background-color:rgb(0, 112, 216);}
    100% {background-color: red;}
  }

  .bitmoji-exp {
    width: 124px;
    padding: 24px;
  }

  .bitmoji-edu {
    width: 100px;
    position: absolute;
    bottom: 0%;
    z-index: 1;
  }

  .connect-wrapper {
    align-items: center;
    overflow: auto;
  }

  .bitmoji-connect {
    position: relative;
    width: 80px;
    right: 0;
    bottom: 0;
  }


  .logo {
    padding: 10px;
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0%;
    width: 100%;
    padding-bottom: 48px;
  }

  form {
    width: 80%;
  }

  .yt-box {
    width: 100%;
    height: 100%;
  }

  .text-margin {
    margin: 0;
  }

  .div1 {
    height: 10%;
  }

  .div2 {
    display: flex;
    height: 69%;
    flex-direction: column;
    align-items: center;
  }

  .div3 {
    height: 16%;
  }

  .intro-line {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .videostyle {
    padding: 28px 6px;
    width: 84%;
    height: 39%;
  }

  .nav {
    display: none;
  }

  .icon {
    width: 34px;
    height: 5px;
    background-color: white;
    margin: 5px 0px;
  }

  .nav-mobile {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .menu {
    right: 8px;
  }

  .menu-mobile {
    top: 0px;
    left: 0;
    position: absolute;
    padding: 16px 16px;
  }

  .data {
    flex-direction: column;
    justify-content: center;
  }

  .header {
    height: 68px;
    width: 100%;
    background-color: #1c7cda;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .header-aboutme {
    display: block;
    color: white;
  }

  .creator-wrapper {
    height: calc(100vh - 68px);
    overflow: auto;
    background: #191919;
  }

  .red-bg {
    margin-top: 0;
  }

  .yt-box {
    padding-bottom: 24px;
  }

  .sidenav {
    z-index: 2;
  }

  .year {
    display: none;
  }

  .year-mob {
    display: inline !important;
    margin-left: 8px;
  }
}
  
/* -------------------------------------------------------------------------------- */
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
}
  
/* -------------------------------------------------------------------------------- */
/* Media Query for Large screens */
@media (min-width: 1281px) {

}