<div class="data data-mobile">
  <div class="connect-wrapper">

    <div class="social">

        <div class="logo">
            <a href="https://github.com/rohanpawar22" target="_blank">
                <img class="img-logo" src="assets/logo/git.png" alt="Git">
            </a>
        </div>

        <div class="logo">
            <a href="https://www.linkedin.com/in/rohan-pawar-55a0a5147/" target="_blank">
                <img class="img-logo" src="assets/logo/linkedin.png" alt="LinkedIn">
            </a>
        </div>

        <div class="logo">
            <a href="https://www.instagram.com/roadmanrohan/" target="_blank">
                <img class="img-logo" src="assets/logo/insta.png" alt="IG">
            </a>
        </div>

        <div class="logo">
            <a href="https://www.youtube.com/channel/UCd2DorrmxXtnqwggVPZRCGw" target="_blank">
                <img class="img-logo" src="assets/logo/yt.png" alt="YT">
            </a>
        </div>

    </div>

    <img src="assets/photo/Connect.png" class="bitmoji-connect bounce" alt="Image">

    <div class="form-container">
      <div class="form-title">
        <h3>Connect with me</h3>
      </div>

      <form [formGroup]="connectForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="submitForm()">
        <div class="form-field">
          <input type="text" formControlName="name" placeholder="Your name..">
        </div>

        <div class="form-field">
          <input type="email" formControlName="email" placeholder="Your email..">
        </div>

        <div class="form-field">
          <textarea type="text" formControlName="message" placeholder="Write your message.." style="height:120px"></textarea>
        </div>

        <div class="button-container">
          <button type="reset" class="btn reset-btn" (click)="resetForm()">Reset</button>
          <button type="submit" class="btn submit-btn" [disabled]="connectForm.invalid">Submit</button>
        </div>
      </form>
    </div>
</div>
</div>
<modal></modal>