<div class="data data-mobile">

  <div class="text-container">
      <div class="text">
          <h1 class="about-info hi">Hi,</h1>
          <h1 class="about-info am">I am <span style="color:red">Rohan</span>,</h1>
          <p class="iam im">I'm a <span class="auto-input style-input"></span></p>
          <div class="paragraph">
              <p class="about-info">A Computer Science graduate who likes to play around with frontends.</p>
              <p class="about-info">I am highly self-motivated enthusiastic and always willing to learn more.</p>
              <p class="about-info">I enjoy coding, riding my bike and travelling to new
                  places.
              </p>
          </div>
      </div>
      <h3 class="for-mobile-click" (click)="openPDF()">Know More</h3>
  </div>

  <img src="assets/photo/arrow.png" class="cloud" alt="cloud" (click)="openPDF()">
  <img src="assets/photo/Ro.png" class="bitmoji bounce" alt="Image" (click)="openPDF()">

</div>
