<div class="data data-mobile">

  <div class="education2">

    <img src="assets/photo/education.png" class="bitmoji-edu bounce" alt="Image">

    <div class="timeline-wrapper">

      <div class="timeline timeline-edu">
        <div class="container right">
          <div class="content">
            <h2 class="font-white">SKNCOE,Pune</h2>
            <p class="font-white year">2016 - 2020</p>
            <p class="font-white"><b>BE (Computer)</b><span class="year-mob">2016-2020</span></p>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h2 class="font-white">G.D.Sawant College,Nashik</h2>
            <p class="font-white year">2014 - 2016</p>
            <p class="font-white"><b>HSC (Science)</b><span class="year-mob">2014-2016</span></p>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h2 class="font-white">Maratha High School,Nashik</h2>
            <p class="font-white year">2013 - 2014</p>
            <p class="font-white"><b>SSC</b><span class="year-mob">2013-2014</span></p>
          </div>
        </div>
      </div>

    </div>

    <div class="certificate-wrapper">

      <div class="c-main-title">
        <h3>Certifications</h3>
      </div>

      <div class="c-main-list">

        <div class="certificate">
          <div class="c-title">
            Modern HTML & CSS From The Beginning (Including Sass)
          </div>
          <div class="c-sub-title">Udemy - Issued Apr 2020</div>
        </div>

        <div class="certificate">
          <div class="c-title">JavaScript Basics for Beginners</div>
          <div class="c-sub-title">Udemy - Issued Mar 2020</div>
        </div>

        <div class="certificate">
          <div class="c-title">Linux Command, Line Basics</div>
          <div class="c-sub-title">Udemy - Issued Mar 2020</div>
        </div>

        <!-- <div class="certificate">
          <div class="c-title">Linux Shell Scripting: A Project-Based Approach to Learning</div>
          <div class="c-sub-title">Udemy - Issued Mar 2020</div>
        </div> -->

        <div class="certificate">
          <div class="c-title">The Complete Java Certification Course</div>
          <div class="c-sub-title">Udemy - Issued Mar 2020</div>
        </div>

        <div class="certificate">
          <div class="c-title">The Complete Oracle SQL Bootcamp</div>
          <div class="c-sub-title">Udemy - Issued Mar 2020</div>
        </div>

        <div class="certificate">
          <div class="c-title">Javascript</div>
          <div class="c-sub-title">Solo Learn - MAR-2022</div>
        </div>

        <!--<div class="certificate">
          <div class="c-title">SQL</div>
          <div class="c-sub-title">SOLO LEARN - MAR-2022</div>
        </div>

        <div class="certificate">
          <div class="c-title">CSS</div>
          <div class="c-sub-title">SOLO LEARN - MAR-2022</div>
        </div>

        <div class="certificate">
          <div class="c-title">HTML</div>
          <div class="c-sub-title">SOLO LEARN - MAR-2022</div>
        </div> -->

      </div>

    </div>

  </div>

</div>
