<div class="data data-mobile">

<div class="experience2">

  <img src="assets/photo/experience.png" class="bitmoji-exp bounce" alt="Image">

  <div class="timeline-wrapper">
      <div class="timeline">
          <div class="container right">
              <div class="content">
                  <h2 class="font-white">Software Engineer</h2>
                  <p class="font-white"><b>Onnet Systems</b></p>
                  <p class="font-white">Nov 2022 - Present</p>
              </div>
          </div>
          <div class="container right">
              <div class="content">
                  <h2 class="font-white">Software Engineer</h2>
                  <p class="font-white"><b>Tech Mahindra</b></p>
                  <p class="font-white">Feb 2021 - Jun 2022</p>
              </div>
          </div>
      </div>
  </div>

  <div class="skills-wrapper">

      <h3 class="exp-title">Professional Skills</h3>

      <div class="skill">
          <div class="skill-img">
              <i title="HTML5" class="devicon-html5-plain colored"></i>
          </div>
          <div class="skill-img">
              <i title="CSS3" class="devicon-css3-plain colored"></i>
          </div>
          <div class="skill-img">
            <i title="VSCode" class="devicon-vscode-plain colored"></i>
        </div>
      </div>
      <div class="skill">
          <div class="skill-img">
              <i title="Javascript" class="devicon-javascript-plain colored"></i>
          </div>
          <div class="skill-img">
              <i title="Angular" class="devicon-angularjs-plain colored"></i>
          </div>
          <div class="skill-img">
            <i title="Typescript" class="devicon-typescript-plain colored"></i>
        </div>
      </div>
      <div class="skill">
          <div class="skill-img">
              <i title="Github" class="devicon-github-original colored"></i>
          </div>
          <div class="skill-img">
              <i title="MySQL" class="devicon-mysql-plain-wordmark"></i>
          </div>
      </div>

  </div>

</div>
</div>
